<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <button type="button" class="list-group-item"><a routerLink='/shiny-list' routerLinkActive='active'>All Shinies</a></button>
    <button type="button" class="list-group-item">Gen 1</button>
    <button type="button" class="list-group-item">Gen 2</button>
    <button type="button" class="list-group-item">Gen 3</button>
    <button type="button" class="list-group-item">Gen 4</button>
    <button type="button" class="list-group-item">Alola forms</button>
  </ul>
</div>
