<app-home-menu [shinyPokemonList]="shinyPokemonList" (whatToShow)="setWhatToShow($event)"></app-home-menu>

<main>
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search a Pok&eacute;mon" name="search" [(ngModel)]="search">
    </div>
  </form>

  <section>
    <h1>{{subtitle}} Shinies Pok&eacute;mons</h1>
    <div *ngFor="let pokemon of showList | search:search" id="pokemons">
      <div class="thumbnail">

        <a [routerLink]="['/pokemon-detail', pokemon.idpokemon]">
          <img src="{{pokemon.imgShiny}}" alt="Shiny {{pokemon.name}}">
        

        <div class="caption">
          <h5>#{{pokemon.number}} <br> {{pokemon.name}}</h5>
        </div>
        </a>
      </div> <!-- thumbnail -->
    </div> <!-- ngFor-loop -->
  </section>

  <app-scroll-top></app-scroll-top>
</main> <!--  -->
