main {
  text-align: center;
}

form {
  margin: auto;
  text-align: center;
  padding: 0px 15px;
}

input[type="text"] {
  margin: auto;
  text-align: center;
}

.thumbnail {
  margin: 5px;
  padding: 0;
}

.caption {
  padding: 0;
}

#pokemons {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* Phones devices or window: 600px and down */
@media only screen and (max-device-width: 600px),
(max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  #pokemons {
    width: 100px;
  }
}

/* Medium devices (landscape phones) or window: 600px and up */
@media only screen and (min-device-width: 600px),
(min-width: 600px) {
  h1 {
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: 300px;
  }
}

/* Medium devices (landscape big phones, portrait tablets) or window: 768px and up */
@media only screen and (min-device-width: 768px),
(min-width:768px) {
  section {
    width: 90%;
    margin: auto;
  }
}

/* Small laptops, desktops: 1100px and up */
@media only screen and (min-device-width: 1100px) {
  section {
    width: 70%;
    margin: auto;
  }

  .thumbnail:hover {
    box-shadow: 0px 1px 25px 0px #ccc;
  }

  input:hover {
    border: 1px solid #66a3ff;
    border-radius: 5px;
  }
}

/*Bootstrap
xs (para teléfonos - pantallas de menos de 768px de ancho)
sm (para tabletas: pantallas iguales o superiores a 768 px de ancho)
md (para computadoras portátiles pequeñas: pantallas de 992px o más de ancho)
lg (para computadoras portátiles y de escritorio: pantallas iguales o superiores a 1200px de ancho)
*/
