<header class="container-fluid">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav" id="menu">
      <li *ngFor="let gen of generations" [class.selected]="gen === selectedGen"  (click)="setGen(gen)">
        <a>Gen {{gen}}</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search a Pok&eacute;mon" name="search" [(ngModel)]="search">
    </div>
  </form>

  <section>
    <h1>{{showUserPokemons ? "My " + subtitle : subtitle}} PoGo Shiny Pok&eacute;mon</h1>

    <div class="container-fluid" *ngIf="isLogged">
      <label for="check-switch" id="labelTitle">My Pok&eacute;mon</label>

      <label class="switch">
        <input id="check-switch" type="checkbox" name="userPokemons" [(ngModel)]="showUserPokemons">
        <span class="slider"></span>
      </label>
    </div>

    <div *ngIf="loading">
      <img src="Images/loadingPokeball.gif">
    </div>

    <div *ngIf="!loading">
      <div *ngFor="let pokemon of shinyPokemonList | generation:selectedGen | userPokemons:[showUserPokemons,userIdPokemons,isLogged] | search:search"
        id="pokemons">
        <div class="thumbnail" [ngClass]="{'logged': isLogged && !isPokemonRegistered(pokemon.idpokemon),
                    'registered': isLogged && isPokemonRegistered(pokemon.idpokemon)}">

          <a [routerLink]="['/pokemon-detail', pokemon.idpokemon]">
            <img src="{{pokemon.imgShiny}}" alt="Shiny {{pokemon.name}}">

            <div class="caption">
              <h5>#{{pokemon.number}} <br> {{pokemon.name}}</h5>
            </div>
          </a>

          <div *ngIf="isLogged">
            <hr>
            <button *ngIf="!isPokemonRegistered(pokemon.idpokemon)" (click)="addPokedexRegister(pokemon.idpokemon)"><img
                src="Images/openPokeball.png" class="logged"></button>

            <button *ngIf="isPokemonRegistered(pokemon.idpokemon)"
              (click)="removePokedexRegister(pokemon.idpokemon)"><img src="Images/closePokeball.png"></button>
          </div>

        </div> <!-- thumbnail -->
      </div> <!-- ngFor-loop -->
    </div> <!-- !loading -->
  </section>

  <app-scroll-top></app-scroll-top>
</main> <!--  -->
