#menu {
  width: 100%;
  text-align: center;
}

#menu li {
  display: inline-block;
  float: none;
  cursor: pointer;
}

.navbar-default .navbar-nav li a {
  color: #333;
}

.selected a {
  border-style: outset;
  border-radius: 10px;
}

/* Phones devices: 600px and down */
@media only screen and (max-device-width: 600px) {
  .container-fluid {
    width: 100%;
    padding: 0;
  }

  .navbar-nav {
    margin: 0;
  }
}

/* Small laptops, desktops: 1100px and up */
@media only screen and (min-device-width: 1100px) and (hover: hover) {  
  .selected a {
    background-color: #eceaec;
    padding: 13px;
  }

  #menu a:hover {
    border-style: outset;
    border-radius: 10px;
    padding: 13px;
  }

  .selected a:hover {
    background-color: #eceaec;
    border-style: none;
  }
}
