<main>
  <header class="page-header">
    <h1>{{pokemon?.name}}</h1>
  </header>

  <section>
      <figure><img src="{{pokemon?.imgShiny}}" *ngIf="!showShiny">
        <figcaption>Shiny</figcaption>
      </figure>
      <figure><img src="{{pokemon?.img}}" *ngIf="!showShiny">
        <figcaption>Normal</figcaption>
      </figure>
    <div>
      <ul>
        <li>Generation: {{pokemon?.generation}}</li>
        <li>Evolutions: 2</li>
        <li>Release Date: 25-Mar-2018</li>
        <li>Event: Community Day #2</li>
      </ul>
    </div>
  </section>

  <footer>
    <button type="button">
      <a [routerLink]='["/"]'>Back</a>
    </button>
  </footer>

</main>
