<main>
  <nav>
    <!-- enlace a pokemon anterior (der) y siguiente (izq) 
    <a [routerLink]="['/pokemon-detail', pokemon?.idpokemon-1]">test</a>-->
  </nav>
  
  <header class="page-header">
    <h1>#{{pokemon?.number}} {{pokemon?.name}}</h1>
  </header>

  <section>
      <figure><img src="{{pokemon?.imgShiny}}" *ngIf="!showShiny">
        <figcaption>Shiny</figcaption>
      </figure>
      <figure><img src="{{pokemon?.img}}" *ngIf="!showShiny">
        <figcaption>Normal</figcaption>
      </figure>
    <div>
      <ul>
        <li>Generation: {{pokemon?.generation}}</li>
        <li>Shiny Release Date: {{pokemon?.shinyReleaseDate | date : 'MMM dd, yyyy'}}</li>
        <li>Event: {{pokemon?.shinyReleaseEvent}}</li>
      </ul>
    </div>
    <div>
      <h3>Evolutions Line</h3>
      <!-- linea evolutiva imagenes link -->
    </div>
  </section>

  <footer>
    <button type="button">
      <a [routerLink]='["/"]'>Back</a>
    </button>
  </footer>

</main>
