.row {
  margin: 0px;
}

#right {
  float: right;
}

#left {
  float: left;
}

h2, h3 {
  margin-top: 0px;
}

.btn-default {
  margin-top: 8px;
  border-color: transparent;
}

.btn-default a {
  color: #777;
}

.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-default:hover a {
  color: #333;
  text-decoration: none;
}

.page-header {
  margin-top: 0px;
}

figure {
  display: inline-block;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 30px 0px;
}

#evolutions {
  margin: auto;
  width: 80%;
}

a img {
  width: 80px;
  height: 80px;
  border: solid 1px #ddd;
  border-radius: 50px;
  box-shadow: 0px 1px 25px 0px #ccc;
}

/* Phones devices: 600px and down */
@media only screen and (max-device-width: 600px) {}

/* Landscape phones devices: 850px and down */
@media (orientation: landscape) and (max-device-width: 850px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-device-width: 1100px) and (hover:hover) {
  .btn-default a {
    font-size: 20px;
  }

  .btn-default:hover {
    border-radius: 20px;
    background-color: #eceaec;
  }

  a:hover {
    text-decoration: none;
  }

  a:hover img {
    box-shadow: 0px 1px 25px 0px #a6a6a6;
  }
  
}
