<main>
  <nav class="row">
    <div id="left" *ngIf="previousP?.idpokemon > 0">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <a [routerLink]="['/pokemon-detail', previousP.idpokemon]">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          #{{previousP.number}} {{previousP.name}}
        </a>
      </button>
    </div>
    <div id="right" *ngIf="nextP?.idpokemon > 1">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <a [routerLink]="['/pokemon-detail', nextP.idpokemon]">
          #{{nextP.number}} {{nextP.name}}
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </button>
    </div>
  </nav>

  <header class="page-header">
    <h1>#{{pokemon?.number}} {{pokemon?.name}}</h1>
  </header>

  <section *ngIf="loading">
    <img src="Images/loadingPokeball.gif">
  </section>
  <section *ngIf="!loading">
    <figure><img src="{{pokemon?.imgShiny}}" alt="Shiny {{pokemon?.name}}">
      <figcaption>Shiny</figcaption>
    </figure>
    <figure><img src="{{pokemon?.img}}" alt="Normal {{pokemon?.name}}">
      <figcaption>Normal</figcaption>
    </figure>

    <div>
      <ul>
        <li>Generation: {{pokemon?.generation}}</li>
        <li>Shiny Release Date: {{pokemon?.shinyReleaseDate | date : 'MMM dd, yyyy'}}</li>
        <li>Event: {{pokemon?.shinyReleaseEvent}}</li>
        <li>Obtainable: {{pokemon?.obtainable}}</li>
      </ul>
    </div>
  </section>

  <section *ngIf="loading">
    <img src="Images/loadingPokeball.gif">
  </section>
  <section *ngIf="!loading">
    <div id="evolutions" class="row justify-content-center">
      <h3>Evolution Line</h3>

      <div *ngIf="evolutionLine?.length > 1">
        <div *ngFor="let pokemons of evolutionLine | slice:1" class="row">
          <div *ngIf="pokemons.length > 1">
            <a [routerLink]="['/pokemon-detail', evolutionLine[0][0].idpokemon]">
              <img src="{{evolutionLine[0][0].imgShiny}}" alt="Shiny {{evolutionLine[0][0].name}}">
            </a>
            <i class="fas fa-arrow-right"></i>
            <a [routerLink]="['/pokemon-detail', pokemons[0].idpokemon]">
              <img src="{{pokemons[0].imgShiny}}" alt="Shiny {{pokemons[0].name}}">
            </a>
            <i class="fas fa-arrow-right"></i>
            <a [routerLink]="['/pokemon-detail', pokemons[1].idpokemon]">
              <img src="{{pokemons[1].imgShiny}}" alt="Shiny {{pokemons[1].name}}">
            </a>
          </div>
          <div *ngIf="pokemons.length == 1">
            <a [routerLink]="['/pokemon-detail', evolutionLine[0][0].idpokemon]">
              <img src="{{evolutionLine[0][0].imgShiny}}" alt="Shiny {{evolutionLine[0][0].name}}">
            </a>
            <i class="fas fa-arrow-right"></i>
            <a [routerLink]="['/pokemon-detail', pokemons[0].idpokemon]">
              <img src="{{pokemons[0].imgShiny}}" alt="Shiny {{pokemons[0].name}}">
            </a>
          </div>
        </div> <!-- ngFor -->
      </div> <!-- evolutionLine > 1  -->
      <div *ngIf="evolutionLine?.length == 1">
        <a [routerLink]="['/pokemon-detail', evolutionLine[0][0].idpokemon]">
          <img src="{{evolutionLine[0][0].imgShiny}}" alt="Shiny {{evolutionLine[0][0].name}}">
        </a>
      </div>
    </div> <!-- evolutions  -->
  </section> <!-- !loading  -->

  <footer>
    <button type="button" class="btn btn-default">
      <a [routerLink]='["/"]'>Home</a>
    </button>
  </footer>

</main>
