/* h1, figcaption {
    text-align: center;
}
table {
    margin: auto;
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 40px 0 20px;
    border-top: 1px solid #eee;
}
.row {
    margin-right: 0px;
    padding-right: 0px;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    figure{
        display: inline-block;
        font-weight: bold;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 30px 0px;
    }
    footer{
        display: none;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  }
  
  /*Bootstrap
  xs (para teléfonos - pantallas de menos de 768px de ancho)
  sm (para tabletas: pantallas iguales o superiores a 768 px de ancho)
  md (para computadoras portátiles pequeñas: pantallas de 992px o más de ancho)
  lg (para computadoras portátiles y de escritorio: pantallas iguales o superiores a 1200px de ancho)
  */